@use "src/base";

section {
  display: flex;
  justify-content: center;

  .container {
    margin-left: calc(1vw * calc(200 / 1920 * 100));

    display: flex;
    flex-direction: column;

    &.empty {
      margin-left: 0;
    }
  }

  mat-card {
    width: calc(1vw * calc(300 / 1920 * 100));
    height: calc(1vh * calc(200 / 1080 * 100));

    margin-bottom: 20px;
    padding: 20px;

    mat-card-content {
      margin-top: auto;
      padding: 0;
    }
    button {
      margin-top: auto;
    }
  }

  .total-cost {
    position: fixed;
    top: 120px;
    left: calc(1vw * calc((1920 - 500) / 1920 * 100));

    width: calc(1vw * calc(300 / 1920 * 100));
    height: auto;

    font-size: 20px;
  }
}
