@use "src/base";

section {

  overflow-y: scroll;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 20px;

    &.empty {
      display: flex;
      flex-direction: column;
    }
  }

  mat-card {
    width: calc(1vw * calc(300 / 1920 * 100));
    height: calc(1vh * calc(250 / 1080 * 100));

    padding: 20px;

    mat-card-content {
      padding: 0;
    }
    button {
      margin-top: auto;
    }
  }
}
