// Dimensions
$adaptive-full-hd-coefficient-width: 100 / 1920 / 100 * 100vw;

// Adaptive container width
$container-adaptive-full-hd-width: $adaptive-full-hd-coefficient-width * 1520;

//Sizes
$header-height: 60px;

:root {
  --mat-badge-background-color: #4479D4;
}

body {
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.main {
  section {
    display: flex;
    justify-content: center;

    width: calc(100vw - 200px);
    height: calc(100vh - 60px);

    overflow-y: scroll;

    .container {
      width: calc(100vw - 300px);
      height: fit-content;

      margin-top: 60px;
      margin-bottom: 60px;

      &.empty {
        mat-card {
          height: auto;
          align-self: center;
        }
      }
    }
  }

  .mat-list-base {
    padding: 0;
  }

  mat-card-title {
    font-size: 25px;
  }

  mat-card-content {
    font-size: 15px;
  }

  button[mat-raised-button] {
    background: #FFD5C3;
  }
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

*::-webkit-scrollbar {
  width: 4px;
}
