<section>
  <form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">
    <mat-card>
      <mat-card-title>Поиск</mat-card-title>
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of (categoriesService.getEntities() | async)" value="{{category.id}}">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Название товара</mat-label>
        <input matInput formControlName="product">
      </mat-form-field>
      <button mat-raised-button>Искать</button>
    </mat-card>
  </form>
</section>
